/*=================================
	chart scroller
=================================*/
.chart-scroller {
	position: relative;
	height: 50px;

	overflow: hidden;
}

.chart-scroller__line {
	position: absolute;
	top: 0;
	left: 0;
}

.chart-scroller__overlay {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: var(--color-overlay);
	opacity: 0.7;
}
.chart-scroller__overlay--left {
	left: 0;
}
.chart-scroller__overlay--right {
	right: 0;
}

.chart-scroller__thumb {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;

	background-color: transparent;
	cursor: pointer;
}

.chart-scroller__thumb:focus {
	outline: none;
}

.chart-scroller__thumb-border {
	position: absolute;
	left: 8px;
	height: 3px;
	width: calc(100% - 16px);

	background-color: rgba(164, 199, 223, 0.4);
}
.chart-scroller__thumb-border--top {
	top: 0;
}
.chart-scroller__thumb-border--bottom {
	bottom: 0;
}

.chart-scroller__thumb-resizer {
	position: absolute;
	top: 0;

	width: 8px;
	height: 100%;

	background-color: rgba(164, 199, 223, 0.4);

	cursor: col-resize;
}
.chart-scroller__thumb-resizer--left {
	left: 0;
}
.chart-scroller__thumb-resizer--right {
	right: 0;
}
